<html>
    <head>
        <title>User page</title>
    </head>
    <body>
        <h1>Profiles</h1>
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul> 
    </body>
</html>